
<html>
  <head>
    <title>Porcupine Book Store</title>
    <style>
      html {
        background-color: black;
      }
      .container {
        background-color: white;
        width: 600px;
        margin: 1em auto;
        padding: 2em;
        text-align: center
      }
      ul { 
        list-style:none;
      }
    </style>

  </head>
  <body class="container">
    <h1>Porcupine Book Store</h1>

    <ul id="book-catalogue">
      <% books.forEach(book => { %>
        <li>
          <p><%= book.title %></p>
          <p><%= book.author %></p>
        </li>
      <% }) %>
    </ul>
  </body>
</html>
